*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background-color: rgba(199, 198, 198, 0.3);
    /* background: linear-gradient(white, grey); */
    /* background-repeat: none; */
}
h2{
    font-size: 39px;
    text-align: center;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.form1{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.inputs{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    padding-left: 25px;
    border: 1px solid;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.form1 textarea{
    height: 240px;
    padding-top: 15px;
    border-radius: 20px;
}
/* .inputs:focus{ */
    /* border: 2px rgb(255, 166, 0); */

.form1 button{
    padding: 15px 35px;
    font-size: 22px;
    border-radius: 50px;
    background: linear-gradient(270deg, aqua, white);
    cursor: pointer;
}
.form1 button:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
    color: grey;
    background: linear-gradient(270deg, rgb(242, 132, 132), white);
}
@media (max-width:800px) {
    .form1{
        width: 40vw;
    }
    img{
        display: none;
    }
    .inputs{
        width: 250px;
    }
}