*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(203, 203, 203);
}
nav{
    background-color: rgba(113, 112, 112, 0.154);
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 15px 15px;
    position: sticky;
}
.logo{
    font-size: 30px;
}
nav ul li{
    display: inline;
    font-size: 25px;
    margin-right: 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgba(20, 30, 30, 0.3);
    transition: all ease-in-out 0.2s;
}
.content-1{
    margin: 100px;
    background-color: rgba(66, 102, 102,0.3);
    /* text-align: center; */
    padding-bottom: 100px;
    border-radius: 35px;
    display: flex;
    box-shadow: 0px 0px 20px black;
}
.content-1 p{
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    padding-top: 200px;
}
.content-1 img{
    height: 450px;
    margin-left: 195px;
}
.content-2{
    margin: 100px;
    background-color: rgba(82, 170, 170, 0.3);
    width: 500px;
    height: 500px;
    padding-bottom: 100px;
    border-radius: 35px;
    box-shadow: 0px 0px 20px grey;
}
.content-2 p{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
}
.content-2:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.content-2 img{
    height: 350px;
    display: block;
    padding-top: 40px;
}
.content-3{
    margin: 100px;
    background-color: rgba(82, 170, 170, 0.3);
    width: 500px;
    height: 500px;
    padding-bottom: 100px;
    border-radius: 35px;
    box-shadow: 0px 0px 20px grey;
}
.content-3 img{
    height: 410px;
    width: 550px;
    padding-top: 40px;
    padding-right: 40px;
}
.content-3 p{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
}
.content-3:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer{
    background-color: slategray;
    padding: 20px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p{
    font-size: 30px;
    font-family: monospace;
}
footer button{
    width: 100px;
    height: 50px;
    font-size: 25px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    background: linear-gradient(270deg, aqua, white);
    border-radius: 50px;
}
button a{
    text-decoration: none;
    color: black;
}
footer button:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
}
@media (max-width:800px) {
    nav ul li{
        font-size: 12px;
        padding-right: 20px;
    }
    .content-1{
        height: 40vw;
    }
    .content-1 p{
        font-size: 25px;
        /* text-align: center; */
        /* margin-bottom: 140 */
        padding-top: 10px;
    }
    .content-1 img{
        display: none;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .content-2{
        width: 200px;
        height: 300px;
        margin: 50px;
    }
    .content-2 img{
        height: 170px;
    }
    .content-3{
        width: 200px;
        height: 300px;
        margin: 50px;
    }
    .content-3 img{
        height: 200px;
        width: 270px;
    }
}